.comment-section {
    display: flex;
    flex-direction: column;
}

.comment-input-area {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.comment-input-area input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.comment-input-area button {
    padding: 10px 15px;
    margin-left: 5px;
    border: none;
    background-color: #3333cc;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.comment-input-area button:hover {
    background-color: #000099;
}

.comment-time {
    font-size: 12px;
    color: #555;
    margin-top: 4px;
}








